markupsafe==2.0.1
sphinx-jinja==1.2.0
sphinx-rtd-theme==0.5.1
sphinxcontrib-mermaid==0.4.0
sphinxcontrib-napoleon==0.7
PyYAML==6.0
git+https://github.com/dayjaby/sphinx-bootstrap-theme
flask[async]==2.2.2
requests>=2.28.1
